@use "../../styles/index" as *;

.transition {
  transition: color 0.3s ease;

  &:hover {
    color: $color-primary;
  }
}

.default {
  color: $color-text-secondary;
}

.active {
  color: $color-primary;
}

.sm {
  width: 15px;
  height: 15px;
}

.md {
  width: 20px;
  height: 20px;
}

.lg {
  width: 30px;
  height: 30px;
}
