@use "../../styles/index" as *;

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  img {
    width: 100%;
    border-radius: 12px;
    @include shadow;
  }
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: $color-text-primary;
}

.category {
  font-size: 14px;
  color: $color-text-secondary;
}

.price {
  font-weight: 600;
  font-size: 20px;
  color: $color-text-accent;
}

.addToCart {
  margin: -10px;
  transform: translateY(calc(-50%));
  width: 50%;
  align-self: center;
  padding: 10px 17px;

  @include button(
    $color-text-primary,
    $color-primary,
    $color-surface,
    $color-surface,
    $color-button-border,
    $color-primary
  );
}

.favorite {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  padding: 8px;
  border-radius: 50%;
  background-color: $color-surface;

  &.active svg {
    fill: $color-primary;
  }
}
