@use "../../styles/index" as *;

.pageLayout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: $tablet) {
    grid-template-columns: 2fr 1fr;
  }

  @media (min-width: $desktop) {
  }
}

.sectionLayout {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cardsLayout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}
