@use "./styles/index" as *;

h1,
h2,
h3,
h4,
button {
  all: unset;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 24px 24px;
  font-family: "Red Hat Text", sans-serif;
  background-color: $color-background;

  @media (min-width: $tablet) {
    padding: 0 24px 24px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px 95px;
  }
}

h1 {
  font-weight: 800;
  font-size: 42px;
  color: $color-text-primary;
}

h2 {
  font-weight: 800;
  font-size: 28px;
  color: $color-primary;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  color: $color-text-primary;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  color: $color-text-primary;
}

button {
  cursor: pointer;
}
