@use "../../styles/index" as *;

.layout {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: $color-surface;
  padding: 25px;

  @media (min-width: $tablet) {
    align-self: start;
    border-radius: 12px;
    padding: 24px 24px 50px;
    @include shadow;
  }
}

.image {
  align-self: center;
  width: 100%;
  max-width: 45%;
  margin: 0 auto;

  svg {
    width: 100%;
    height: auto;
    display: block;
  }
}

.description {
  font-size: 14px;
  font-weight: 600;
  color: $color-text-secondary;
  align-self: center;
}

.mobileHidden {
  display: none;
}

.totalLayout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalTitle {
  font-size: 16px;
  color: $color-text-secondary;
}

.totalPrice {
  font-size: 24px;
  font-weight: 800;
  color: $color-text-primary;
}

.carbon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: $color-text-primary;
  background-color: $color-background;
  border-radius: 12px;
  @include shadow;
}

.confirmButton {
  padding: 15px;
  @include button(
    $color-surface,
    $color-surface,
    $color-primary,
    $color-primary-hover,
    $color-primary,
    $color-primary-hover
  );

  font-size: 16px;
}
