$color-primary: #c73b0f;
$color-primary-hover: #952c0c;
$color-secondary-hover: #260f08;

// Secondary / Accent
$color-accent: #1ea575;

// Backgrounds
$color-background: #fdf7f3;
$color-surface: #ffffff;

// Text Colors
$color-text-primary: #260f08;
$color-text-secondary: #87635a;
$color-text-accent: #c73b0f;

// Borders / Dividers
$color-divider: #c9aea6;
$color-button-border: #ad8985;
