@use "../../styles/index" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  margin: 12px 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
